*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  min-width: 950px;
}

/* utility classes */

.container{
  width: 950px;
  margin: auto;
}

.float_left{
  float: left;
}

.margin_v30{
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin_v40{
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin_v50{
  margin-top: 50px;
  margin-bottom: 50px;
}

.margin_t30{
  margin-top: 30px;
}

.padding_t50{
  padding-top: 50px;
}

.padding_t60{
  padding-top: 60px;
}

.padding_t80{
  padding-top: 80px;
}

.ta_center{
  text-align: center;
}

.black{
  color: black;
}

.blue{
  color: #33475b;
}

.white{
  color: white;
}

.bg_orange{
  display: inline-block;
  background-color: #fe785a;
  color: white;
  font-size: 14px;
}

.bg_white{
  background: white;
}

.button{
  padding: 20px 35px;
  border-radius: 5px;
  cursor: pointer;
}

.bg_orange:hover{
  background-color: rgba(254, 120, 90, 0.7);
  cursor: pointer;
}

p{
  font-size: 15px;
  font-weight: 500;
  line-height: 2em;
}

h3{
  font-size: 23px;
  font-weight: 700;
}

.b_rad{
  border-radius: 7px;
  background-color: white;
  box-shadow: 0 0 5px 0 lightgrey;
}

.padding_grid{
  padding: 10px 20px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
  }
/* fine delle utility classes */

/* Inizio della barra fissato in alto */
.fixed_bar{
  z-index: 1;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #f4f9fd;
  border-bottom: 1px solid #32495b;
}

.fixed_bar .container{
  height: 100%;
}

.fixd_left{
  height: 100%;
  width: 50%;
}

.fixd_right{
  height: 100%;
  width:50%;
}

.fixd_left .blue{
  display: inline-block;
  position: relative;
  top: 50%;
  left:0;
  transform: translateY(-50%);
}

.fixd_right div{
  text-align: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.fixd_right span{
  margin: 0 10px;
}
.fixd_right .inline{
  display: inline-block;
}

.button_fixd{
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
}

.search{
  color: #00a4bd;
}

.login{
  color: #fe785a;
  border: 1px solid #fe785a;
}

.login:hover{
  cursor: pointer;
  background-color: rgba(228, 233, 237, 0.2);
}

.fixd_left a{
  color: #32495b;
  text-decoration: none;
  font-weight: 500;
}

#verbar{
  display: inline-block;
  margin: 0 10px;
}
/* Fine della barra fissato in alto */

/* Inizio di navbar + header */
header{
  z-index: 0;
  padding-top: 80px;
}
/* Inizio navbar */
.navbar{
  height: 80px;
  position: relative;
}

.nav_left , .nav_right{
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav_left{
  width: 30%;
}

.nav_right{
  width: 70%;
  text-align: right;
  right: 0;
}

.nav_right a{
  color: #33475b;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.nav_right i{
  margin-left: 10px;
}
/* Fine navbar */

/* Inizio Hero Container */
.hero_image{
  height: 600px;
  background-image: url("../img/jumbotron.png");
  background-color: #FEF6EF;
  background-position: 100% 10%;
  background-repeat: no-repeat;
}

.text_hero{
  width: 50%;
  padding-top: 50px;
}

.text_hero h1{
  font-size: 45px;
  font-weight: 700;
}

.text_hero .black{
  font-size: 12px;
}
/* Fine Hero Container */
/*Fine di navbar + header */


.under_header{
  height: 100px;
  background-color: #AFEBE4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}


/* Inizio Main */
main{
  background-color: #f4f9fd;
}
/* Prima riga del main*/

.first_row img{
  width: 200px;
  margin-top: 40px;
}

.first_row h2{
  font-size: 30px;
}

.first_row p{
  padding: 0 120px;
}

/* Seconda riga del main */
.sr_left{
  width: 30%;
  text-align: center;
}

.sr_right{
  width: 70%;
}

.sr_left img{
  display: block;
  height: 110px;
  margin: 50px auto 30px auto;
}

.sr_right > div{
  padding: 50px 0 ;
}

#popolar_f h4{
  width: 29%;
  font-size: 17px;
  display: inline-block;
}

#popolar_f hr{
  width: 55%;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #33475b;
}

.sr_right i , .third_row i{
  margin: 0 15px;
  color: #fe785a;
}

.sr_right li{
  font-weight: 500;
  font-size: 15px;
  list-style: none;
  display: inline-block;
}

.sr_right p{
  padding-right: 100px;
}

/* Terza riga del main*/
.third_row .float_left{
  width: 30%;
  text-align: center;
}

.tr_center{
  margin: 0 5%;
}

.third_row img{
  height: 100px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.third_row p{
  padding: 0 37px;
  margin: 30px 0;
}

.third_row hr {
  width: 75%;
  margin: auto;
  border: 1px solid #33475b;
}

.third_row h4{
  font-size: 17px;
  text-transform: uppercase;
}

.third_row li{
  text-align: left;
  list-style: none;
  padding-left: 30px;
  font-weight: 500;
  font-size: 15px;
}

.third_row .button{
  margin: 50px 0 20px 0;
}

/* Quarta riga del main*/
.gradient{
  background-image: linear-gradient(to right, rgba(0,169,184,1), rgba(0, 186, 168, 1));
  margin-top: 60px;
}

.fourth_row h2{
  font-size: 30px;
  padding-top: 50px;
}

/* Quinta riga del main*/
.fifth_row{
  padding-bottom: 100px;
}

.fifth_row .col_3{
  width: 25%;
}

.col_3:first-child , .col_3:nth-child(2) , .col_3:nth-child(3){
    border-right: 1px solid white;
}

.fifth_row h2{
  font-size: 40px;
}

.plus{
  font-size: 25px;
  vertical-align: middle;
  font-weight: 500;
}

.col_3 > span{
  display: inline-block;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
}
.col_3 img{
  padding-top: 20px;
}

/* Sesta riga del main*/
.sixr_left{
  width: 40%;
  padding: 0 70px;
}

.sixr_right{
  width: 60%;
}

.sixr_left h2{
  font-size: 45px;
}

.sixr_right img{
  width: 100px;
  margin-right: 30px;
}

/* Settima riga del main */
.seventh_row .float_left{
  width: 50%;
}

.seventh_row h2{
  font-size: 30px;
}

.seventh_row .float_left:first-child{
  padding-right: 95px;
}

.seventh_row span{
  display: block;
  font-size: 12px;
  font-weight: 500;
}

.seventh_row .float_left:last-child{
  text-align: right;
}

#woman{
  width: 250px;
}

/* Fine del main */

/* Inizio del footer */

footer{
  background-color: #33475b;
}

footer .col_4{
  width: 25%;
}

footer h4{
  font-weight: 600;
}

.first_row_footer li {
  list-style: none;
  margin: 20px 0;
}

.first_row_footer a{
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: #cbd6e2;
}

.first_row_footer a:hover{
  color: 	#00FFFF;
}

.first_row_footer .button_footer{
  background-color: #cbd6e2;
  font-size: 14px;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}

.button_footer:hover{
  background-color: rgba(203, 214, 226, 0.7);
  cursor: pointer;
}

.first_row_footer i{
  margin-right: 25px;
  font-size: 17px;
}

.languages{
  text-align: center;
}

.languages li{
  list-style: none;
  display: inline-block;
  padding-top: 10px;
  margin-right: 20px;
}

.second_row_footer .float_left{
  width: 50%;
}

.second_row_footer a{
  margin-right: 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: #cbd6e2;
}

.second_row_footer a:hover{
  color: 	#00FFFF;
}

.second_row_footer .float_left:last-child{
  text-align: right;
}

.second_row_footer{
  padding-bottom: 50px;
}
