*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  min-width: 1400px;
  overflow-x: hidden;
}

/* utility classes */

.container{
  width: 950px;
  margin: auto;
}

.float_left{
  float: left;
}

.margin_v30{
  margin: 30px 0;
}

.margin_t30{
  margin-top: 30px;
}

.ta_center{
  text-align: center;
}

.black{
  color: black;
}

.blue{
  color:#33475b;
}

.bg_orange{
  display: inline-block;
  background-color: #fe785a;
  color: white;
  font-size: 14px;
}

.button{
  padding: 20px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.bg_orange:hover{
  background-color: rgba(254, 120, 90, 0.7);
}

p{
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5em;
}
/* fine delle utility classes */

/* Inizio di navbar + header */
/* Inizio navbar */
.navbar{
  height: 80px;
  position: relative;
}

.nav_left , .nav_right{
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav_left{
  width: 30%;
}

.nav_right{
  width: 70%;
  text-align: right;
  right: 0;
}

.nav_right a{
  color: #33475b;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.nav_right i{
  margin-left: 10px;
}
/* Fine navbar */

/* Inizio Hero Container */
.hero_image{
  height: 600px;
  background-image: url("../img/jumbotron.png");
  background-position: 100% 10%;
  background-repeat: no-repeat;
}

.text_hero{
  width: 50%;
  padding-top: 50px;
}

.text_hero h1{
  font-size: 45px;
  font-weight: 700;
}

.text_hero .black{
  font-size: 12px;
}
/* Fine Hero Container */
/*Fine di navbar + header */


.under_header{
  height: 100px;
  background-color: #AFEBE4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}


/* Inizio Main */
main{
  background-color: #f4f9fd;
}
/* Prima riga */

.first_row img{
  width: 200px;
  margin-top: 40px;
}

.first_row h2{
  font-size: 30px;
}

.first_row p{
  padding: 0 100px;
}
